[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "server"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
